:root {
    --font: 'monospace', monospace;
    --background: black;
    --color: white;
}

body{
    background-color: black;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}
